.card__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  max-width: 250px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  cursor: pointer;
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  background-color: black;
  opacity: 100%;
}
.card__like-btn:hover::after {
  background: transparent;
  opacity: 1;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
