.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;

}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;

}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;

}


.profile__description {
  margin: 0;
  font-weight: 500px;
  font-size: 16px;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 0.7;

}
.profile__edit-btn {
  margin-top: auto;
  border: none;
  padding: 0;
  font-weight: 500;
  color: #212121;
  display: flex;
  width: 107px;
  height: 16px;
  opacity: 0.7;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
}

  .profile__edit-btn:hover {
    opacity: 0.7;

  }

.profile__add-btn {
  display: flex;
margin-left: auto;
width: 149px;
height: 52px;
border-radius: 8px;
border: none;
background-color: #212121;
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500px;
font-size: 16px;
line-height: 100%;
color: #fcf5e5;
align-self: flex-end;
gap: 8px;
justify-content: center;
align-items: center;
cursor: pointer;

}

.profile__add-btn:hover  {
  opacity: 0.7;
}


@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;

  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;

  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;

  }

  .profile__description{
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    display: flex;
    margin: 0 0 20px;

  }

  .profile__add-btn {
    margin: 0;
    width: 100%;

  }
}

